.react-calendar {
  /* Общие стили для календаря */
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.650);
  padding: 7px;
  margin-right: 20px;
  margin-top: 10px;
  width: 50vw;
  cursor: pointer;

}
.react-calendar:hover + .placeholderCalendar {
  display: block;
}

.react-calendar__navigation {
  /* Стили для навигационной части календаря */
  font-size: 18px;
  font-weight: bold;

}
.react-calendar__navigation__arrow {
  padding: 4px;
}
.react-calendar__navigation__arrow:hover {
  cursor: pointer;
}
.react-calendar__navigation__label {
  padding: 4px;
  margin-top: 10px;
  text-transform: uppercase;
}
.react-calendar__navigation__label:hover {
  cursor: pointer;
}
.react-calendar__tile--active {
  background-color:#4b4a4ad3;
  font-weight: bold;
  color: #fff;
}
.react-calendar__month-view__weekdays {
  /* Стили для дней недели */
  color: #1d1d1d;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 3px;
}
.react-calendar .react-calendar__month-view__day {
  /* Стили для дней месяца */
  border-radius: 50%;
  padding: 5px;
}
.placeholderCalendar {
  display: none;
  padding: 7px;
  background-color: #fff;
  width: 40vw;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.650);
  color: #0069d980;
  font-style: italic;

}
h2 {
  color: #0016d9e0;
  font-size: 42px;
  font-weight: bold;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.650);
  text-transform: uppercase;
}
  
ol {
  list-style-type: decimal;
}
  
li {
  background-color: transparent;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  
  width: 27vw;
  
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.650);

}
.wrapperTop {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}
.btnAdd {
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-family: inherit;
  font-size: 25px;
  padding: 5px 20px 7px 20px;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.650);
  transition: background-color 0.3s, transform 0.3s;
}
.btnAdd:hover {
  background-color: #0069d9;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.650);
}
.input {
  border: none;
  font-size: 25px;
  color: grey;
  padding: 7px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 5px;
  width: 50vw;
}
.input::placeholder {
  color: #0069d980;
  font-style: italic;
}
.input:focus::placeholder {
  opacity: 0;
}
.input:focus {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.650);
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.btnX {
  width: 23px;
  height: 23px;
  margin-left: 15px;
  margin-top: 10px;
  background-color: transparent;
}
.btnX:hover {
  cursor: pointer;
}
.title_date {
  text-decoration: underline;
  color: #fff;
  background-color: #007bff;
  display: inline-block;
  border-radius: 5px;
  padding: 3px;
}
.count {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .react-calendar {
    width: 88vw;
  }
  .placeholderCalendar {
    width: 88vw;
    font-size: 16px;
    font-weight: normal;
  }
  h2 {
    text-align: center;
  }
  li {
    width: 88vw;
  }
  .wrapperTop {
    flex-direction: column;
    align-items: center;
  }
  .input {
    font-size: 16px;
    width: 88vw;
  }
}
