.react-calendar {
  /* Общие стили для календаря */
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.650);
  padding: 7px;
  margin-right: 20px;
  margin-top: 10px;
  width: 50vw;
  cursor: pointer;

}
.react-calendar__navigation {
  /* Стили для навигационной части календаря */
  font-size: 18px;
  font-weight: bold;

}
.react-calendar__navigation__arrow {
  padding: 4px;
}
.react-calendar__navigation__arrow:hover {
  cursor: pointer;
}
.react-calendar__navigation__label {
  padding: 4px;
  margin-top: 10px;
  text-transform: uppercase;
}
.react-calendar__navigation__label:hover {
  cursor: pointer;
}
.react-calendar__tile--active {
  background-color:#4b4a4ad3;
  font-weight: bold;
  color: #fff;
}
.react-calendar__month-view__weekdays {
  /* Стили для дней недели */
  color: #1d1d1d;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 3px;
}
.react-calendar .react-calendar__month-view__day {
  /* Стили для дней месяца */
  border-radius: 50%;
  padding: 5px;
}
.error-message {
  padding: 7px;
  background-color: #fff;
  width: 40vw;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.650);
  color: rgba(255, 0, 0, 0.644);
  font-style: italic;

}
h2 {
  color: #0016d9e0;
  font-size: 42px;
  font-weight: bold;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.650);
  text-transform: uppercase;
}
ul {
  list-style-type: none;
}
  
.add-button {
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-family: inherit;
  font-size: 25px;
  padding: 5px 20px 7px 20px;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.650);
  transition: background-color 0.3s, transform 0.3s;
}
.sort-button {
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-family: inherit;
  font-size: 18px;
  padding: 7px 7px 7px 7px;
  color: #fff;
  background-color: rgba(128, 128, 128, 0.678);
  border-radius: 1px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.650);
  transition: background-color 0.3s, transform 0.3s;
}
.add-button:hover {
  background-color: #0069d9;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.650);
}
.date-group {
  background-color: transparent;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  
  width: 26vw;
  
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.650);

}
.date-header {
  text-decoration: underline;
  color: #fff;
  background-color: #007bff;
  display: inline-block;
  border-radius: 5px;
  padding: 3px;
  margin-bottom: 15px;
}
.tasks-group {
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-input {
  border: none;
  outline: none;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.938);
  padding: 7px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 5px;
  width: 50vw;
}
.task-input::placeholder {
  color: #0069d980;
  font-style: italic;
}
.task-input:focus::placeholder {
  opacity: 0;
}
.task-input:focus {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.650);
}
.tasks-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}
.delete-button:hover {
  cursor: pointer;
}
.delete-icon {
  width: 23px;
  height: 23px;
  background-color: transparent;
  
}
.tasks-count {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .react-calendar {
    width: 88vw;
  }
  h2 {
    text-align: center;
  }
  .date-group {
    width: 88vw;
  }
  .task-input {
    width: 88vw;
  }
  
}
