@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
#root {
  min-height: 100vh;
}
.App {
  min-height: 100vh;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: rgb(185, 240, 221);

}

.center {
  padding-left: calc(50% - 45vw);
  padding-right: calc(50% - 45vw);
}
.centerMargin {
    margin-left: calc(50% - 45vw);
    margin-right: calc(50% - 45vw);
  }
  

